<section data-ng-controller="HomeController">
	<div class="text-center">
		<div class="row row-riot-head">
			<div class="col-md-12 col-riot-head">
				<h1>Welcome to Riotevent - The coolest website for sharing events</h1>
			</div>

		</div>
		<div class="row row-riot-head">
			<div class="col-md-4 col-riot-head">
				<a data-ng-href="#!/events">
				<div class="jumbotron">
					<h1><i class="fa fa-search"></i></h1>
					<h2>Search for existing events</h2>
				</div>
				</a>
			</div>
			<div class="col-md-4 col-riot-head">
					<a data-ng-href="#!/events/create">
					<div class="jumbotron">
						<h1><i class="fa fa-bullhorn"></i></h1>
						<h2>Create a new event</h2>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-riot-head">
				<div class="jumbotron">
					<h1><i class="fa fa-info"></i></h1>
					<h2>Learn more abour Riotevent</h2>
				</div>
			</div>
		</div>
	</div>
</section>
