<section class="" data-ng-controller="HomeController">
	<div class="text-center event-home">
        <img class="img-responsive" src="modules/core/img/logo/riotevent.png"  />
        <h1>Independant Event Platform</h1>
        <a href="#!/events"><button><i class="fa fa-align-justify"></i> Events list</button></a>
        <a href="#!/events/create" data-ng-show="authentication.user"><button><i class="fa fa-plus-circle"></i> Create an event</button></a>
        <a href="#!/signup" data-ng-hide="authentication.user"><button ><i class="fa fa-level-up"></i> Sign up</button></a>
        <div class="event-down" ng-click="scrollToInfo()">
            <h2>Learn more</h2>
            <i class="fa fa-chevron-down"></i>
        </div>
	</div>
    <div id="event_home_info" class="container event-home-info">
        <div class="row">
            <div class="col-md-12">
                <h1>Share events</h1>
                <p>With Riotevent you can easily create an event and start to share the link all around. You can publish any kind of event, and your are free on what you want to show on the event page. Any kind of event is welcome.</p>
                <h1>Take part</h1>
                <p>Riotevent wants to put in contact people who want to take part in events. Through a smart discussion system you can discuss about the event, find solutions, give propositions, ask organisers, ...</p>
                <h1>Move your ass</h1>
                <p>Riotevent is not an other webiste that will make you spend more time in front of your screen. Riotevent want to help people to share, find, and live events in real life.</p>
                <h1>Open, free, and independant</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
            </div>
        </div>
    </div>
</section>
