<div class="form-group" ng-show="true">
	<p class="input-group">
		<span class="input-group-btn">
		<button type="button" class="btn btn-default big-input btn-fake" ng-click="open($event)">
		From
		</button>
	</span>
		<input id="startingDate" type="text" class="form-control big-input" datepicker-popup="{{format}}" data-ng-model="event.start_datetime" is-open="start_opened" close-text="Close" placeholder="Enter starting date" ng-click="open_start($event)" />
		<span class="input-group-btn">
		<button type="button" class="btn btn-default big-input btn-fake" ng-click="open($event)">
		To
		</button>
	</span>
		<input id="endingDate" type="text" class="form-control big-input" datepicker-popup="{{format}}" data-ng-model="event.end_datetime" is-open="end_opened" close-text="Close" placeholder="Enter ending date" ng-click="open_end($event)" />
	</p>
</div>
