<section class="section-create-event container" data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{NEW_EVENT | translate}}</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal form-event-creation" data-ng-submit="update()" novalidate>
				<fieldset>
					<h2><i class="fa fa-info"></i> {{'GENERAL_INFO' | translate}}</h2>
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" data-ng-model="event.title" id="title" name="title" class="form-control big-input" placeholder="{{'ENTER_TITLE' | translate}}" required>
                        </div>
                    </div>
					<event-datepicker></event-datepicker>

					<div class="form-group" ng-show="true">
						<div class="controls">
							<input type="text" data-ng-model="event.time_description" id="time" class="form-control big-input" placeholder="{{'ENTER_TIME' | translate}}">
						</div>
					</div>


						<div class="controls">

						</div>


					<div class="form-group">
						<p class="input-group">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default big-input btn-fake">
									{{'ADD_A_PICTURE' | translate}}
								</button>
							</span>
							<input type="file" ng-file-select="onFileSelect($files)" id="image" class="form-control big-input" placeholder="{{'ADD_A_PICTURE' | translate}}">
						</p>
					</div>

                    <h2><i class="fa fa-tags "></i> {{'EVENT_TAGS' | translate}}</h2>
					<div class="form-group">
						<tags-input ng-model="event.event_tags" replace-spaces-with-dashes="false" placeholder="{{'ADD_A_TAG' | translate}}">
                        </tags-input>
						<p class="help-block">{{'ADD_TAGS' | translate}}</p>
					</div>

					<h2><i class="fa fa-paragraph"></i> {{'DESCRIPTION' | translate}}</h2>
					<div class="form-group">
						<div class="controls">
							<div text-angular data-ng-model="event.description" ta-toolbar="[['h1','h2','h3', 'h4', 'p'],['bold','italics', 'ul', 'ol', 'undo', 'redo']]"></div>
						</div>
					</div>

                    <h2><i class="fa fa-comments "></i> {{'COMMENTS_CATEGORY' | translate}}</h2>
					<div class="form-group">
						<tags-input ng-model="event.comment_cats" replace-spaces-with-dashes="false" placeholder="{{'ADD_A_CATEGORY' | translate}}">
                            <auto-complete source="loadTags($query)" min-length="0" load-on-focus="true" load-on-empty="true"></auto-complete>
                        </tags-input>
						<p class="help-block">{{'SELECT_COMMENTS_CATEGORY' | translate}}.</p>
					</div>

					<h2><i class="fa fa-globe"></i> {{'LOCATION' | translate}}</h2>
					<map-form></map-form>

					<input type="submit" onclick="return false;" class="hidden">
					<div class="form-group">
						<button class="btn btn-default btn-submit">{{'SUBMIT' | translate}}</button>
					</div>

					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</section>
