<section data-ng-controller="EventsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Events</h1>
        <input type="text" ng-model="search" placeholder="Search events" class="form-control big-input"/>
    </div>
    <div class="list-group row">
        <a data-ng-repeat="event in events | filter:search | orderBy:'start_datetime'" data-ng-href="#!/events/{{event.url}}" class="list-group-item col-md-4">
            <div class="row-picture">
                <img src="uploaded/files/{{event.image}}?dim=100x100">
            </div>
            <div class="row-content">
                <div class="least-content"><span ng-bind="day_difference(event.start_datetime)"></span></div>
                <h3 ng-bind="event.title"></h3>
                <small class="list-group-item-text">
                    <span ng-if="event.start_datetime != null">From
                        <span data-ng-bind="event.start_datetime | date:'longDate'"></span>
                    </span>
                    <span ng-if="event.end_datetime != null">To
                        <span data-ng-bind="event.end_datetime | date:'longDate'"></span>
                    </span>
                </small>
                <h4 class="list-group-item-heading" data-ng-bind="event.name"></h4>
            </div>
        </a>

    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!events.$resolved || events.length">
    	No Events yet, why don't you <a href="/#!/events/create">create one</a>?
    </div>
</section>
