<section class="container" data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="page-header">
		<div>
            <h1 class="">{{event.title}}</h1>

            <div class="pull-right event-buttons" data-ng-show="authentication.user._id == event.user._id">

                <a class="btn btn-primary" href="/#!/events/{{event.url}}/edit">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn btn-primary" ng-hide="sure_remove" data-ng-click="sure_remove = true">
                    <i class="fa fa-trash"></i>
                </a>
                <span data-ng-show="sure_remove">
                    {{'DELETE_FOR_SURE' | translate}}
                    <a class="btn btn-danger" data-ng-click="remove();">
                        <i class="fa fa-trash"></i> {{'YES' | translate}}
                    </a>
                    <a class="btn btn-success" data-ng-click="sure_remove = false">
                        <i class="fa fa-share-square"></i> {{'No' | translate}}
                    </a>
                </span>
            </div>
        </div>
        <div>

            <small>
            <em class="text-muted">
                {{'POSTED_ON' | translate}}
                <span data-ng-bind="event.created | date:'mediumDate'"></span>
                {{'BY' | translate}}
                <span data-ng-bind="event.user.displayName"></span>
            </em>
                <br />
            <em class="text-muted" ng-if="event.created != event.updated">
                {{'EDITED_ON' | translate}}
                <span data-ng-bind="event.updated | date:'mediumDate'"></span>
            </em>
            </small>
        </div>
            <br />
            <span class="event-category" ng-if="event.event_tags.length !== 0"><span ng-repeat="tag in event.event_tags">#<span ng-bind="tag.text"></span> </span></span>

	</div>
    <div class="page-body">
        <div class="row">
            <div class="col-md-12 img-col">
                <img class="img-thumbnail" ng-src="{{image_url}}" ng-show="event.image" />
                <a class="btn btn-primary" ng-click="open_image()">
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
        <div class="row panel row-event-info" ng-if="event_info_col < 12">
            <div class="col-md-{{event_info_col}} col-event-info" ng-if="event.start_datetime != null || event.end_datetime != null">
                <i class="fa fa-calendar"></i>
                <p><span ng-if="event.start_datetime != null">{{'STARTING' | translate}}
 <span ng-bind="event.start_datetime | date:'longDate'"></span></span><span ng-if="event.end_datetime != null"> {{'UNTIL' | translate}}
 <span ng-bind="event.end_datetime | date:'longDate'"></span></span></p>
            </div>
            <div class="col-md-{{event_info_col}} col-event-info" ng-if="event.time_description != ''">
                <i class="fa fa-clock-o"></i>
                <p ng-bind="event.time_description"></p>
            </div>
            <div class="col-md-{{event_info_col}} col-event-info" ng-if="event.location_name != ''">
                <i class="fa fa-map-marker"></i>
                <p ng-bind="event.location_name"></p>
            </div>
        </div>

        <div class="row event-description" ng-if="event.description != ''">
            <div class="col-md-12" ng-bind-html="event.description"></div>
        </div>
        <div class="row" ng-show="show_map">
            <div class="col-md-12">
                <map-event-view ></map-event-view>
            </div>
        </div>
        <event-comments></event-comments>
	</div>
</section>
